.page-container {
    padding: 16px; // Padding on both sides
    @media (min-width: 600px) {
      padding: 32px; // Larger padding for wider screens
    }

    .search-bar {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      gap: 16px;
      margin: auto;

      mat-form-field {
        flex: 1; // Inputs take equal space
      }

      .search-button {
        height: 56px; // Matches Material input height
      }
    }

    .expansion-panel-group {
      mat-expansion-panel {
        margin-bottom: 8px;

        mat-expansion-panel-header {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }


pre code {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 1.6;
    padding: 1rem;
    white-space: pre-wrap; /* Allows code to wrap within the block */
    word-wrap: break-word;
  }

  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 340px;
  }

  .underline {
    border-bottom: 1px solid #f05858;
  }


.table-container {
  margin: 20px;
  overflow-x: auto;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

.regular-column {
  width: 40px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

//.example-element-row td {
//  border-bottom-width: 0;
//}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

th {
  background-color: #4B5974 !important;
  color: white;
}

.mat-mdc-cell{
  max-width: 100px ;
}

tr.resolved {
  background-color: darkseagreen !important;
}

tr.open {
  background-color: indianred !important;
}
