.page-container {
    padding: 16px; // Padding on both sides
    @media (min-width: 600px) {
      padding: 32px; // Larger padding for wider screens
    }
  
    .search-bar {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      gap: 16px;
      margin: auto;
  
      mat-form-field {
        flex: 1; // Inputs take equal space
      }
  
      .search-button {
        height: 56px; // Matches Material input height
      }
    }
  
    .expansion-panel-group {
      mat-expansion-panel {
        margin-bottom: 8px;
  
        mat-expansion-panel-header {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
  

pre code {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 1.6;
    padding: 1rem;
    white-space: pre-wrap; /* Allows code to wrap within the block */
    word-wrap: break-word;
  }

  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 340px;
  }

  .underline {
    border-bottom: 1px solid #f05858;
  }